{
  "presets": ["es2015"],
  "plugins": [
    "transform-class-properties",
    ["transform-object-rest-spread", {
      "useBuiltIns": true
      }],
    ["transform-regenerator", {
      "async": false
      }],
    ["babel-plugin-transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
      }],
    "transform-export-extensions"
  ]
}